@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Scope+One');

body
{
	background: url('https://hdqwalls.com/wallpapers/spotify-logo-4k-image.jpg');
	background-size: cover;
}

#h1

{
	text-align:center;
font-family: 'Fjalla One'
font-size: 150px;
color: white;
}

#h2
{
background: rgba(255,255,255,0.5);
font-size:30px;
font-family: 'Scope One';
padding-bottom: 10px;
padding-top: 5px;
}